
.title{
    background-color: #4281C8;
    display: flex;
    align-items: center;    /* 垂直方向の中央揃え */
}

div.title1 {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 36px;
    color: white !important;
    padding: 10px;
    margin-left: 20px;
    align-items: center;    /* 垂直方向の中央揃え */
}

div.title2 {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 18px;
    color: white !important;
    padding: 10px;
    align-items: center;    /* 垂直方向の中央揃え */
}

.form-container {
    background-color: #F1F8FF; /* 背景色 */
    border-radius: 20px;       /* 角丸 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ボックスシャドウ */
    padding: 20px;             /* 内側余白 */
    margin: 30px auto;         /* 上下のマージン */
    width: 80%;                /* コンテナの幅 */
    max-width: 600px;          /* 最大幅 */
    border: 1px solid #ddd;    /* 枠線 */
}

/* Page name */
.pagename {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 24px;
    color: black !important;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    /* 垂直方向の中央揃え */
}

/* Form */
.form1,.form2{
    margin-top: 20px;
    margin-left: 15%;
}

label {
    margin-bottom: 5px;
    display: block;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 20px;
}

input, select {
    width: 400px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form18{
    display: flex;
    align-items: center;    /* 垂直方向の中央揃え */
    justify-content: center;
    margin-top: 20px;
}

.register-btn {
    background-color: #4281C8;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;    /* 垂直方向の中央揃え */
    width: 200px;
}

.register-btn:hover {
    background-color: #4281C8;
}

.copyright {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

